{% extends 'base.html.twig' %}

{% block body %}

<h1>Formulaire ville</h1>

<form action="" method="POST">
    <input type="text" name="name" placeholder="nom" />
    <input type="text" name="mayor" placeholder="maire" />
    <select name="country">
        {% for country in countries %}
            <option value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary">Enregistrer</button>
</form>

{% endblock %}
