<nav>
    <ul>
        <li>
            <a href="{{ path('test3') }}">Test 3</a>
        </li>
        <li>
            <a href="{{ path('country_list') }}">Liste pays</a>
        </li>
        <li>
            <a href="{{ path('country_form') }}">Formulaire</a>
        </li>
    </ul>
</nav>